
@{
    ViewBag.Title = "ChiTietKhoan";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<h1  style="margin-left:40%">Chi tiết khoản</h1>
<table class="content-statute">
    <thead>
        <tr>
            <th>@ViewBag.Chuong.ma</th>
            <td>@ViewBag.Chuong.noiDung</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> @ViewBag.Dieu.ma</th>
            <td>
                @ViewBag.Dieu.noiDung
            </td>
        </tr>

        <tr>
            <th>@ViewBag.Khoan.ma</th>
            <td>
                @ViewBag.Khoan.noiDung
            </td>
        </tr>

        <tr>
            <th>Mức xử phạt tối thiểu (VND)</th>
            <td>
                @if (ViewBag.Khoan.MXPTT != null)
                {
                    <p>@ViewBag.Khoan.MXPTT.ToString("N0")</p>
                }
            </td>
        </tr>
        <tr>
            <th>Mức xử phạt tối đa (VND)</th>
            <td>
                @if (ViewBag.Khoan.MXPTD != null)
                {
                    <p>@ViewBag.Khoan.MXPTD.ToString("N0")</p>
                }
            </td>
        </tr>

        <tr>
            <th>Mức xử phạt trung bình (VND)</th>
            <td>
                @if (ViewBag.Khoan.MXPTT != null && ViewBag.Khoan.MXPTD != null)
                {
                <p>@(((ViewBag.Khoan.MXPTT + ViewBag.Khoan.MXPTD) / 2).ToString("N0"))</p>
                }
             </td>
        </tr>
    </tbody>
</table>